@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work_sans_fonts {
    font-family: "Work Sans", sans-serif;
}

/* Common class start here */
.display_flex {
    display: flex;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

.dark_1 {
    color: #131313;
}

.dark_2 {
    color: #727272;
}

.dark_3 {
    color: #727272;
}
.btn_primary{
    border: none;
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    border-radius: 8px;
}
.btn_primary:hover{
    background-color: green;
    transition: .5s;
}

/* main > section {
    margin: 65px 0;
} */

/* Common class end here */

/* header section start here */
.header {
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar section start */
.navbar {
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.nav_title {
    font-size: 2.8rem;
    font-weight: 700;
}
#version{
    color: #FF900E;
}

.nav_menu {
    gap: 60px;
    list-style: none;
}

.nav_link:hover {
    color: chocolate;
    transition: .5s;
}

.nav_link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
/* navbar section end */

/* brand section start */
.brand_content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.brand_title{
    margin-top: 30px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px
}
.brand_text{
    line-height: 26px;
}

.brand_img img{
    width: 100%;
    vertical-align: middle;
}
/* brand section end */
/* header section end here */

/* main section start here */
/* our_features section start */
.our_features_container{
    justify-content: space-between;
    align-items: center;
    gap: 76px;
    margin-top: 130px;
}
.our_features_image_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our_features_image_container img{
    width: 100%;
}

.our_features_description{
    max-width: 540px;
}

.our_features_description_title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 28px;
    color: #FF900E;
}

#our_features_description_title_style_1{
    font-weight: 400;
}
.our_features_description_text{
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 28px;
}
/* our_features section end */
/* main section end here */

/* responsive breakpoint */
/* ! mobile device */
@media screen and (max-width: 576px) {
    .navbar , .our_features_container {
        flex-direction: column;
    }
    /* navbar start */
    .nav_title {
        font-size: 2rem;
    }
    .nav_menu {
    gap: 30px;
    margin-top: 10px;
}
.nav_link {
    font-size: 1rem;
}
 /* navbar end */

 /* brand start */
.brand_content{
    gap: 15px;
}
.brand_title{
    font-size: 1.5rem;
    line-height: 30px
}
.btn_primary{
    padding: 15px 20px;
    width: 100%;
}
 /* brand end */

 /* our features start */
 .our_features_container{
    margin-top: 60px;
}
 .our_features_container{
    flex-direction: column-reverse;
 }
 .our_features_description_title{
    font-size: 2rem;
}
.our_features_description{
    text-align: center;
}
  /* our features  */


}